<mat-sidenav-container class="sidenav-custom">

  <mat-sidenav #sidenav position="end" disableClose="true">
      <mat-toolbar>
          <h2 *ngIf="!customer.id">Adicionar Cliente</h2>
          <h2 *ngIf="customer.id">Alterar Cliente</h2>
          <span class="spacer"></span>
          <button mat-icon-button (click)="sidenav.close()">
              <mat-icon>close</mat-icon>
          </button>
      </mat-toolbar>

      <div class="form">
          <mat-form-field>
              <input matInput placeholder="Código" [(ngModel)]="customer.code">
          </mat-form-field>

          <mat-form-field class="full-width">
              <input matInput placeholder="Nome" [(ngModel)]="customer.name">
          </mat-form-field>

          <mat-form-field class="full-width">
              <input matInput placeholder="E-mail" [(ngModel)]="customer.email">
          </mat-form-field>

          <mat-form-field class="full-width">
              <input matInput placeholder="Endereço" [(ngModel)]="customer.address">
          </mat-form-field>

          <div class="flex-container">
              <mat-form-field>
                  <input matInput placeholder="CPF" [(ngModel)]="customer.cpf">
              </mat-form-field>

              <span class="spacer"></span>

              <mat-form-field>
                  <mat-select placeholder="Ativo" [(ngModel)]="customer.active">
                      <mat-option value="S">Sim</mat-option>
                      <mat-option value="N">Não</mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
      </div>

      <mat-toolbar>
          <span class="spacer"></span>
          <button mat-button (click)="sidenav.close()">Cancelar</button>
          <button mat-raised-button color="warn" (click)="confirm()">Confirmar</button>
      </mat-toolbar>

  </mat-sidenav>
  <mat-sidenav-content>

      <mat-card>
          <mat-card-title>
              <mat-toolbar color="warn">
                  <h3>Cadastro de Clientes</h3>

                  <span class="spacer"></span>

                  <button mat-icon-button (click)="add()">
                      <mat-icon>add</mat-icon>
                  </button>
              </mat-toolbar>

              <mat-progress-bar mode="indeterminate" color="warn" *ngIf="loading"></mat-progress-bar>

          </mat-card-title>
          <mat-card-content>

              <table mat-table [dataSource]="customers" *ngIf="!errorMessage">

                  <!-- CODIGO -->
                  <ng-container matColumnDef="code">
                      <th mat-header-cell *matHeaderCellDef> Código </th>
                      <td mat-cell *matCellDef="let customer"> {{customer.code}} </td>
                  </ng-container>

                  <!-- NOME -->
                  <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef> Nome </th>
                      <td mat-cell *matCellDef="let customer"> {{customer.name}} </td>
                  </ng-container>

                  <!-- CPF -->
                  <ng-container matColumnDef="cpf">
                      <th mat-header-cell *matHeaderCellDef> CPF </th>
                      <td mat-cell *matCellDef="let customer"> {{customer.cpf | mask:'cpf' }} </td>
                  </ng-container>

                  <!-- EMAIL -->
                  <ng-container matColumnDef="email">
                      <th mat-header-cell *matHeaderCellDef> E-mail </th>
                      <td mat-cell *matCellDef="let customer"> {{customer.email}} </td>
                  </ng-container>

                  <!-- ENDERECO -->
                  <ng-container matColumnDef="address">
                      <th mat-header-cell *matHeaderCellDef> Endereço </th>
                      <td mat-cell *matCellDef="let customer"> {{customer.address}} </td>
                  </ng-container>

                  <!-- ATIVO -->
                  <ng-container matColumnDef="active">
                      <th mat-header-cell *matHeaderCellDef> Ativo </th>
                      <td mat-cell *matCellDef="let customer">
                          <mat-icon style="color: #2eaa4f" *ngIf="customer.active == 'S'">fiber_manual_record</mat-icon>
                          <mat-icon style="color: #ed412c" *ngIf="customer.active == 'N'">fiber_manual_record</mat-icon>
                      </td>
                  </ng-container>

                  <!-- OPTIONS -->
                  <ng-container matColumnDef="options">
                      <th mat-header-cell *matHeaderCellDef> </th>
                      <td mat-cell *matCellDef="let customer">
                          <button mat-icon-button [matMenuTriggerFor]="menu">
                              <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu">
                              <button mat-menu-item (click)="edit(customer)">
                                  <mat-icon>edit</mat-icon>
                                  <span>Alterar</span>
                              </button>
                              <button mat-menu-item (click)="remove(customer)">
                                  <mat-icon>delete</mat-icon>
                                  <span>Excluir</span>
                              </button>
                          </mat-menu>
                      </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

              <div class="notFoundDiv" *ngIf="customers.length == 0">
                <p>Nenhum registro encontrado</p>
              </div>

              <div class="panel-error" *ngIf="errorMessage">
                  <img src="assets/oops.png">
                  <h1 headline>Ocorreu um erro!</h1>
                  <p caption>{{errorMessage}}</p>
                  <button mat-button color="warn" (click)="ngOnInit()">Tentar Novamente</button>
              </div>


          </mat-card-content>
      </mat-card>
  </mat-sidenav-content>

</mat-sidenav-container>''
