<mat-sidenav-container class="sidenav-custom">

  <mat-sidenav #sidenav position="end" disableClose="true">
      <mat-toolbar>
          <h2 *ngIf="!finishedProduct.id">Adicionar Estrutura de Produto</h2>
          <h2 *ngIf="finishedProduct.id">Alterar  Estrutura de Produto</h2>
          <span class="spacer"></span>
          <button mat-icon-button (click)="sidenav.close()">
              <mat-icon>close</mat-icon>
          </button>
      </mat-toolbar>

      <div class="form">

          <mat-tab-group>
              <mat-tab label="Cabeçalho">
                  <div class="custom-tab-container">
                      <mat-form-field class="full-width">
                          <mat-select placeholder="Produto" [(ngModel)]="finishedProduct.product" [compareWith]= "compareOptions" [disabled]="finishedProduct.id">
                              <mat-option *ngFor="let product of products" [value]="product">{{ product.name }}</mat-option>
                          </mat-select>
                      </mat-form-field>

                      <div class="inputStock">
                        <mat-form-field class="input-number">
                            <input matInput type="number" placeholder="Estoque Máx." [(ngModel)]="finishedProduct.stockMax">
                        </mat-form-field>

                        <mat-form-field class="input-number est_min">
                            <input matInput type="number" placeholder="Estoque Min." [(ngModel)]="finishedProduct.stockMin">
                        </mat-form-field>
                      </div>

                  </div>
                  <mat-toolbar *ngIf="!finishedProduct.id">
                      <span class="spacer"></span>
                      <button mat-button (click)="sidenav.close()">Cancelar</button>
                      <button mat-raised-button color="warn" (click)="confirm()" [disabled]="finishedProduct.ingredients.length == 0">Confirmar</button>
                  </mat-toolbar>
              </mat-tab>
              <mat-tab label="Itens">
                  <div class="custom-tab-container">
                      <table>
                          <thead>
                              <tr>
                                  <th>Produto</th>
                                  <th class="cell-right">Quantidade</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let item of finishedProduct.ingredients">
                                  <td>{{item.product.name}}</td>
                                  <td class="cell-right">{{item.quantity}}</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>

                  <mat-toolbar *ngIf="!finishedProduct.id">
                      <span class="spacer"></span>
                      <button mat-stroked-button (click)="addItem()">Adicionar Item</button>
                  </mat-toolbar>

              </mat-tab>
          </mat-tab-group>
      </div>

  </mat-sidenav>
  <mat-sidenav-content>

      <mat-card>
          <mat-card-title>
              <mat-toolbar color="warn">
                  <h3>Cadastro de Estrutura de Produto</h3>

                  <span class="spacer"></span>

                  <button mat-icon-button (click)="add()">
                      <mat-icon>add</mat-icon>
                  </button>
              </mat-toolbar>

              <mat-progress-bar mode="indeterminate" color="warn" *ngIf="loading"></mat-progress-bar>

          </mat-card-title>
          <mat-card-content>
              <table mat-table [dataSource]="finishedProducts" *ngIf="!errorMessage">
                <!-- PRODUTO -->
                <ng-container matColumnDef="product">
                    <th mat-header-cell *matHeaderCellDef> Produto </th>
                    <td mat-cell *matCellDef="let finishedProduct"> {{finishedProduct.product.name}} </td>
                </ng-container>

                <!-- ESTOQUE MAX. -->
                <ng-container matColumnDef="stockMax">
                    <th mat-header-cell *matHeaderCellDef> Estoque Máx. </th>
                    <td mat-cell *matCellDef="let finishedProduct"> {{finishedProduct.stockMax}} </td>
                </ng-container>

                <!-- ESTOQUE MIN. -->
                <ng-container matColumnDef="stockMin">
                    <th mat-header-cell *matHeaderCellDef> Estoque Min. </th>
                    <td mat-cell *matCellDef="let finishedProduct"> {{finishedProduct.stockMin}} </td>
                </ng-container>

                <!-- OPTIONS -->
                <ng-container matColumnDef="options">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let finishedProduct">
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="preview(finishedProduct)">
                                <mat-icon>visibility</mat-icon>
                                <span>Visualizar</span>
                            </button>
                            <button mat-menu-item (click)="remove(finishedProduct)">
                                <mat-icon>delete</mat-icon>
                                <span>Excluir</span>
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

              <div class="notFoundDiv" *ngIf="finishedProducts.length == 0">
                <p>Nenhum registro encontrado</p>
              </div>

              <div class="panel-error" *ngIf="errorMessage">
                  <img src="assets/oops.png">
                  <h1 headline>Ocorreu um erro!</h1>
                  <p caption>{{errorMessage}}</p>
                  <button mat-button color="warn" (click)="ngOnInit()">Tentar Novamente</button>
              </div>


          </mat-card-content>
      </mat-card>
  </mat-sidenav-content>

</mat-sidenav-container>
